.main {
    background-color: transparent;
    color: $mainColor;
    display: flex;
    padding: 0;
    border: none;
    cursor: pointer;

    &:disabled {
        cursor: default;
        opacity: 0.6;
    }
}