.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-left: 12px solid $mainAccent;
    border-right: 12px solid $mainBackS;
    padding-bottom: 8px;
}

.layout {
    display: flex;
    flex-grow: 1;
    max-height: calc(100% - 64px);
}

.dictionary {
    max-width: 370px;
    margin-right: 12px;
    overflow-y: auto;
    overflow-x: hidden;
}

.blockLayout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    & > :last-child {
        margin-top: 12px;
        max-height: calc(50% - 12px);
    }
}

.block {
    display: flex;
    flex-grow: 1;
    max-height: 50%;

    & > :first-child {
        display: flex;
        width: 150%;
    }
}

.logs {
    margin-left: 12px;
}
