.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $mainBack
}

.header {
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 8px;
  width: 100%;
  height: 36px;
  transition: all .3s;

  &.idle  {
    background-color: $mainAccent;
  }
  &.success  {
    background-color: $successColor;
  }
  &.error  {
    background-color: $errorColor;
  }
}

.name {
  color: $auxColor;
  font-weight: bold;
}

.rightBlock {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: $auxColor;
  font-weight: bold;
}

.expandIcon {
  margin-left: 16px;
}
