.main {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  background-color: $mainBackS;
  padding-left: 14px;
}

.logo {
  display: flex;
  align-items: center;
}

.logoText {
  color: $mainColorS;
  font-size: 22px;
  font-weight: bold;
  margin-left: 16px;
}

.rightBlock {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: $mainColorS;

  & > * {
    display: flex;
  }

  & > :last-child {
    margin-left: 16px;
  }
}

.accent {
  color: $mainAccent;
  font-weight: bold;
  margin-left: 8px;
  max-width: 37ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
