// S for Secondary
// T for tertiary

$mainColor: #292C32;

$mainBack: #FFFFFF;
$mainBackS: #F4F4F4; 

$auxColor: #FFFFFF;

// $auxBack: #FFFFFF;

// $overlay: rgba($mainBack, .8);

$mainAccent: #7790FF;

$successColor: #25AE88;
$errorColor: #EB5F5F;