@import url('https://fonts.googleapis.com/css?family=Inter:400,600&display=swap&subset=cyrillic');
// @import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap&subset=cyrillic');

html, body, input, button {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: $mainColor;
}

body {
    background-color: $mainBackS;
    margin: 0;
}

body * {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

h3 {
    font-size: 16px;
}